.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    outline: none;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 1.1rem;
    background-color: #777BE2;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color;
  }
  
  .search-bar button:hover {
    background-color: #5b53e2;
  }
  