.relative-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.school-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.welcome-banner{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 68px;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.welcome-text{
  font-size: 18px;
  margin-top: 5px;
  font-weight: 100;
  color: #95A1BB;
}

.welcome-font{
  color: #777BE2;
  display: inline;
}

.welcome-banner-subheader{
  font-size: 16px;
  color: #95A1BB;
}