.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .pagination button {
    padding: 0.5rem;
    margin: 0;
    border: none;
    width: 30px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #777BE2;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #5b62c0;
    color: white;
  }
  