#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.forgetpwd-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.forgetpwd-header {
    display: flex;
    margin-top: 120px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #363940;
}

.forgetpwd-info {
    display: flex;
    top: 305px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #363940;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;
}

.forgetpwd-info-purple {
    color: #777BE2;
}

.button {
    margin-top: 20px;
}


