@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.header-font{
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    margin-top: 80px;
    color: #363940;
    font-weight: bold;
}

.dropdown-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: left;
    align-items: center; 
    gap: 40px;
}

.dropdown-individual{
    flex: 1;
    width: 481px;
    margin-top: 40px;
}

.dropdown-select {
    width: 100%;
}

button{
    width: 430px;
    height: 46px;
    margin-top: 50px;
    font-family: 'Rubik';
}